<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-05-08-hello-world.md</string>
		</array>
		<array>
			<string>2013-05-10-my-taskbar-clock.md</string>
		</array>
		<array>
			<string>2013-05-17-hack-led-povs.md</string>
		</array>
		<array>
			<string>2013-05-29-cool-diys.md</string>
		</array>
		<array>
			<string>2013-06-01-a-easier-way-to-make-a-makeymakey.md</string>
		</array>
		<array>
			<string>2013-06-07-kindle-paperwhite-using-experience.md</string>
		</array>
		<array>
			<string>2013-06-07-mcu-double-click-detect.md</string>
		</array>
		<array>
			<string>2013-07-15-just-google-it.md</string>
		</array>
		<array>
			<string>2013-07-25-lelianwang-hands-on.md</string>
		</array>
		<array>
			<string>2013-07-27-arduino-task-scheduler-library.md</string>
		</array>
		<array>
			<string>2013-08-24-some-interesting-hardware-related-products.md</string>
		</array>
		<array>
			<string>2013-09-22-2013-software-freedom-day-ustc.md</string>
		</array>
		<array>
			<string>2013-10-04-this-year.md</string>
		</array>
		<array>
			<string>2013-10-10-maker-reading-notes.md</string>
		</array>
		<array>
			<string>2013-10-11-shang-ke-ji-reading-notes.md</string>
		</array>
		<array>
			<string>2013-10-24-maker-carnival-2013.md</string>
		</array>
		<array>
			<string>2013-10-25-visiting-xinchejian.md</string>
		</array>
		<array>
			<string>2013-11-22-2013-shuangbai.md</string>
		</array>
		<array>
			<string>2013-12-04-introducing-prezi.md</string>
		</array>
		<array>
			<string>2013-12-31-2013-in-my-eye.md</string>
		</array>
		<array>
			<string>2014-02-10-out-of-control-reading-notes.md</string>
		</array>
		<array>
			<string>2014-04-24-zhai-zi-zhong-guo-reading-notes.md</string>
		</array>
		<array>
			<string>2014-04-30-stm32-with-osx.md</string>
		</array>
		<array>
			<string>2014-06-28-omnifocus-quick-entry-applescript.md</string>
		</array>
		<array>
			<string>2014-06-28-the-non-designer-design-book-reading-notes.md</string>
		</array>
		<array>
			<string>2014-08-01-some-ui-designs.md</string>
		</array>
		<array>
			<string>2014-08-20-qs30-1-nixie-clock.md</string>
		</array>
		<array>
			<string>2014-11-04-omnifocus-quick-entry-applescript-v2.md</string>
		</array>
		<array>
			<string>2014-11-17-diy-websites.md</string>
		</array>
		<array>
			<string>2015-02-06-finite-state-machine-in-microcontrollers.md</string>
		</array>
		<array>
			<string>2015-02-07-hack-hexo-theme-landscape.md</string>
		</array>
		<array>
			<string>2015-03-02-join-me.md</string>
		</array>
		<array>
			<string>2015-08-27-wind-pendulum.md</string>
		</array>
	</array>
</dict>
</plist>
