<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">Apps</h3>
    <div class="widget">
    <ul>
        <li>
            <a href="https://itunes.apple.com/cn/app/id1120243546">HackRemote: 蓝牙 (BLE) 遥控器</a></br>
            <a href="https://itunes.apple.com/cn/app/id1120243546"><img src="http://blanboom.org/images/2016/06/appstore.png" align="left"></a></br></br>
        </li>
    </ul>
    </div>
  </div>
<% } %>
