<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_drafts</string>
		<string>_posts</string>
		<string>about</string>
		<string>aprilfool</string>
		<string>d</string>
		<string>images</string>
		<string>projects</string>
		<string>wiki</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
